.subtitulo {
	font-size: 16pt;
	text-align: left;
	color: var(--color1);
}

.subtitulo > span {
	font-weight: bold;
	font-size: 22pt;
	color: var(--color1);
}

.botones {
	flex-direction: row;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 1%;
	margin-top: 1%;
	width: 96%;
	text-align: center;
}

.content label {
	font-size: 16pt;
	font-weight: bold;
	color: var(--color1) !important;
}

.content .MuiInputLabel-sizeSmall {
	font-size: 16pt;
}