.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  .modal {
    position: fixed;
    top: 5vh;
    left: 5%;
    width: 90%;
    background-color: #d1dfe9; /*#e7effd;*/
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
  }

	.content {
		height: 100%;
	}
  
  @media (min-width: 768px) {
    .modal {
      width: 60rem;
      height: 58rem;
      left: calc(50% - 30rem);
      top: calc(50% - 29rem);
    }
  }

   @media (min-width: 1024px) {
    .modal {
      width: 70rem;
      height: 58rem;
      left: calc(50% - 35rem);
      top: calc(50% - 29rem);
    }
  }
  
  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .modal input,[role="button"]{
    background-color: #FFF !important;
    font-family: var(--fuente);
  }

  .modal [role="tablist"]{
    /*background-color: var(--color1) !important;*/
  }

  .modal [role="tab"]{
    font-size: large !important;
  }

  .modal Button{
    background: var(--amarillo1) !important;
  }
 

/*Media Query*/

@media (max-width: 2570px) {
  .modal {
      zoom: 100%;
  }
}

@media (max-width: 1920px) {
  .modal{
      zoom: 100%;
  }
}

@media (max-width: 1366px) {
  .modal{
      zoom: 90%;
      width: 70rem;
      height: 56rem;
      left: calc(50% - 35rem);
      top: calc(50% - 28rem);
  }
}

@media (max-width: 800px) {
  .modal{
      zoom: 75%;
  }
}


.modalCabecera{
  background-color: var(--color1);
  color:white;
  border-radius: 15px 15px 0px 0px;
}

.modal [data-shrink="true"]{
  font-size: larger;
  color: black;
  font-weight: 600;
}

.modal input{
  font-family: var(--fuente);
  padding: 14px 15px 0px 15px;
  font-weight: bold;
  color: var(--color1);
}

.modal [role="button"]{
  font-family: var(--fuente);
  padding: 14px 15px 0px 15px;
  font-weight: bold;
  color: var(--color1);
}

/*
.content{
  height: 100%;
}*/
