.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 50rem;
    height: 30rem;
    left: calc(50% - 25rem);
    top: calc(50% - 15rem);
    background-color: #e7effd;
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
  }

  .modalCabecera{
  background-color: var(--color1);
  color:white;
  border-radius: 15px 15px 0px 0px;
}

/*TAB EN MODAL*/
.modal [role="tab"]{
  font-size: large !important;
}

/*INPUT/SELECT DEL MODAL*/
/* .modal input,[aria-expanded]{
  padding: 1rem 1rem 0.2rem 1rem !important;
} */

.modal fieldset{
  border-color: var(--gris2) !important;
}