.input {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    padding: 0;
  }
  
  .input label {
    font-weight: bold;
    margin-right: 1rem;
  }
  
  .input input {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font: inherit;
    /* padding-left: 0.5rem; */
  }

  
  /*#region --ENTRY/INPUT--*/
    /*ENTRY/INPUT-DEFECTO*/
    .input input{
      background: white !important;
      font-family: var(--fuente)!important;
      font-size: 1.1rem!important;
      color: var(--color1) !important;
      font-weight: 500!important;
    }
  
     /*ENTRY/INPUT-DESHABILITADO*/
    .input input:read-only, input:disabled{
      -webkit-text-fill-color: var(--disableFont) !important;
      color: var(--disableFont) !important;
      background-color: white !important;
      font-weight: 500!important;
    }
    /*#endregion --ENTRY/INPUT--*/
  
    .Mui-focused{
      border-color: white !important;
    }