
  .input input{
    background: #FFF !important;
    font-family: var(--fuente)!important;
    font-size: 1.1rem!important;
    color: var(--color1) !important;
    font-weight: 600!important;
  }

  .input [role="button"],[aria-haspopup="listbox"]{

  }

  .input input:read-only{
    color: var(--disableFont) !important;
    background-color: var(--disableBack) !important;
  }

  .Mui-focused{
    border-color: white !important;
  }