.renglon {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.celda {
	padding: 5px;
}

.derecha {
	justify-content: right;
}

.centro {
	justify-content: center;
}

.abajo {
	position: absolute;
	bottom: 1%;
	width: calc(100% - 40px);
}
