
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.container{

/*  background-image: url(./media/campo_trigo1.jpg);*/
  background-image: url(./media/Background/1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  container-type: inline-size;
  -webkit-font-smoothing: antialiased;

  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;

  max-width: 100%;
  
}

.container:before {

  opacity: 0.6;
  max-width: 100%;
}

.titulo{
  /*background: -webkit-linear-gradient(90deg, #186090, #18609000 90%);*/
  color: white;
  padding: 4% 0% 2% 0%;
  text-shadow: 3px 3px 2px #186090;
}

.subtitulo {
	  width: fit-content;
    background-color: rgb(255 255 255 / 90%);
    margin: 0%;
	  text-align: left;
    color: #186090;
    margin-top: 3%;

}

.detalles_card{

  /*text-align: right;*/
}

.filter-label span{
  display: none;
}