:root {
  /*ESCALA DE AZULES*/
  --color1: #186090;
  --color2: #3595D2;
  --color3: #82C3ED; 

  /*82C3ED50 para tablas*/
  
  --color4: rgb(13 110 253 / 50%); /*focus*/


  /*ESACALA DE GRISES*/
  --gris1: #555555;
  --gris3: #727272;
  --gris2: #C2C2C2;


  --blanco: #FFF;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-image: url(./media/campo_trigo1.jpg);
   
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#overlay-root,
body:has(#overlay-root:not(:empty)) > .MuiPopover-root > .MuiPaper-root {
	zoom: 75%;
}