:root {
  /*ESCALA DE AZULES*/
  --color1: #186090;
  --color2: #3595D2;
  --color3: #82C3ED; 

  /*82C3ED50 para tablas*/
  
  --color4: rgb(13 110 253 / 50%); /*focus*/


  /*ESACALA DE GRISES*/
  --gris1: #555555;
  --gris3: #727272;
  --gris2: #C2C2C2;


  --blanco: #FFF;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-image: url(./media/campo_trigo1.jpg);

    /*background-image: url(./media/Background/5.jpg);
    /*background-image: url(./media/Background/1.png);*/
    /*background-image: url(./media/Background/6.jpg);*/
    /*background-image: url(./media/Background/7.jpg);*/
 
    /*LISOS*/
    /*background-image: url(./media/Background/color1.png);*/
    /*background-image: url(./media/Background/color2.png);*/
    /*background-image: url(./media/Background/color3.png);*/
    /*background-image: url(./media/Background/color4.png);*/
    /*background-image: url(./media/Background/color6.png);*/
    /*background-image: url(./media/Background/color7.png);*/

    /*muy feo
    background-image: url(./media/Background/9.jpg);
    background-image: url(./media/Background/8.jpg);
    background-image: url(./media/Background/color5.png);
    background-image: url(./media/Background/10.jpg);*/

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#overlay-root,
body:has(#overlay-root:not(:empty)) > .MuiPopover-root > .MuiPaper-root {
	zoom: 75%;
}

main{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
      /*background-image: url(./media/campo_trigo1.jpg) !important;*/
  
      /*background-image: url(./media/Background/5.jpg);
      /*background-image: url(./media/Background/1.png);*/
      /*background-image: url(./media/Background/6.jpg);*/
      /*background-image: url(./media/Background/7.jpg);*/
   
      /*LISOS*/
      /*background-image: url(./media/Background/color1.png);*/
      /*background-image: url(./media/Background/color2.png);*/
      /*background-image: url(./media/Background/color3.png);*/
      /*background-image: url(./media/Background/color4.png);*/
      /*background-image: url(./media/Background/color6.png);*/
      background-image: url(./media/Background/color7.png);
  
      /*muy feo
      background-image: url(./media/Background/9.jpg);
      background-image: url(./media/Background/8.jpg);
      background-image: url(./media/Background/color5.png);
      background-image: url(./media/Background/10.jpg);*/
  
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9;
  content: "";
}

